.container {
    display: flex;
    gap: 20px;
  }
  
  .main-column {
    flex: 1;
    min-width: 250px;
    background: #fff;
  }
  
  
  .sidebar-column {
    width: 250px;
    flex-shrink: 0;
  }
  
  
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .main-column,
    .sidebar-column {
      width: 100%;
    }
  
  
  
  /*スマホ下部固定ナビ*/
    .mobile-nav {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      background: #fff;
      border-top: 1px solid #ccc;
      z-index: 9999;
      box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
    }
  
    .mobile-nav a {
      flex: 1;
      text-align: center;
      padding: 8px 0;
      font-size: 12px;
      color: #333;
      text-decoration: none;
    }
  
    .mobile-nav span {
      display: block;
      font-size: 20px;
      margin-bottom: 2px;
    }
  
    .mobile-nav small {
      font-size: 12px;
      display: block;
      line-height: 1;
    }
  }
  
  
  
  
  
  
  /******** bbpress *********/

  /*購読・お気に入りボタン消す*/	
  #bbpress-forums #subscription-toggle,
  #bbpress-forums #favorite-toggle {
    display: none !important;
  }
  
  
  /*bbpress?????????*/
  #bbp_search{
  font-size: 16px;
  height: 28px;
  }
  
  .bbp-reply-content{
  font-size: 16px;
  line-height: 170%;
  }
  
  .bbp-forum-title{
  font-size: 20px !important;
  text-decoration:none; 
  }
  
  .bbp-forum-content{
  font-size: 16px !important;
  }
  .bbp-topic-permalink{
  font-size: 16px !important;
  }
  
  
  #bbpress-forums 
  div.bbp-the-content-wrapper 
  textarea.bbp-the-content { font-size: 18px
  }
  
  input#bbp_topic_title{
  font-size: 20px;
  }
  
  
  /*bbPress?????????*/
  
  .bbp-breadcrumb{
  display: none;
  }
  
  #bbpress-forums ul.bbp-forums {
    border: none;
  }
  
  #bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer, #bbpress-forums li.bbp-body li.bbp-forum-reply-count, #bbpress-forums li.bbp-body li.bbp-forum-freshness {
    display: none;
  }
  
  #bbpress-forums li.bbp-body ul.forum {
    border-top: none;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  #bbpress-forums li.bbp-forum-info {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  
  #bbpress-forums .bbp-forum-info .bbp-forum-content {
    position: relative;
    display: inline-block;
    border-radius: 20px;
      padding: .5em 1em .5em 5px;
    min-width: 200px;
    max-width: 100%; ?
    color: slategray;
    background: whitesmoke;
  }
  
  #bbpress-forums .bbp-forum-info .bbp-forum-content::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 30px;
    margin-left: -15px;
    border: 10px solid transparent;
    border-bottom: 10px solid whitesmoke;
  }
  
  #bbpress-forums .bbp-forum-info a.bbp-forum-title {
    display: block;
    font-size: 1.2em;
    font-weight: 500;
   ?color: #AAD6EC;
    /*??????????*/
    text-decoration: none;
    padding: 15px 15px 15px 0;
  }
  
  #bbpress-forums li.bbp-body li.bbp-forum-topic-count {
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;
    width: 25px;
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background: whitesmoke;
    color: slategray;
  }
  
  
  /*bbPress????????*/
  
  .bbp-template-notice, #bbpress-forums li.bbp-topic-title p.bbp-topic-meta, #bbpress-forums li.bbp-topic-voice-count, #bbpress-forums li.bbp-topic-freshness, #bbpress-forums .bbp-pagination {
    display: none;
  }
  
  #bbpress-forums ul.bbp-topics, #bbpress-forums li.bbp-header {
    border: none;
  }
  
  #bbpress-forums div.odd, #bbpress-forums ul.odd {
    background: white;
  }
  
  #bbpress-forums li.bbp-body ul.topic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  #bbpress-forums li.bbp-body ul.topic li.bbp-topic-title {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  
  #bbpress-forums li.bbp-body ul.topic li.bbp-topic-title a.bbp-topic-permalink {
    display: block;
   ?font-weight: 900;
    color:  #156075;
      /*??????????*/
    text-decoration: none;
    padding: 15px 15px 15px 0;
  }
  
  #bbpress-forums li.bbp-body ul.topic li.bbp-topic-reply-count {
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;
    width: 25px;
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background: whitesmoke;
    color: slategray;
  }
  
  
  /*??????????*/
  
  #bbpress-forums div.bbp-topic-form form#new-post fieldset.bbp-form {
    background: white;
    border: none;
    padding: 0;
  }
  
  #bbpress-forums div.bbp-topic-form form#new-post fieldset.bbp-form legend {
    position: relative;
    padding: 10px 40px 10px 10px;
    margin: 0 0 1em;
    line-height: 20px;
    background: #EEF9FF;
    border-left: 40px solid #AAD6EC;
  }
  
  #bbpress-forums div.bbp-topic-form form#new-post fieldset.bbp-form legend::before {
   ?font-family: "Font Awesome 5 Free";
      content: "??";
    font-weight: 900;
    font-size: 2.4em;
    color: white;
    position: absolute;
    left: -32px;
  }
  
  <!-- ???????????CSS??-->
  
  #bbpress-forums div.bbp-topic-form form#new-post fieldset.bbp-form>div>p:nth-of-type(1)::before{
    content: "????";
  }
  
  #bbpress-forums div.bbp-topic-form form#new-post fieldset.bbp-form>div>div.bbp-the-content-wrapper::before {
    content: "??";
  }
  
  #bbpress-forums div.bbp-topic-form form#new-post fieldset.bbp-form>div>p:nth-of-type(1)::before,
  #bbpress-forums div.bbp-topic-form form#new-post fieldset.bbp-form>div>div.bbp-the-content-wrapper::before {
    color: slategray;
    line-height: 50px;
    background: #EEF9FF;
    padding: .5em 1.5em;
    border-radius: 30px;
  }
  
  #bbpress-forums div.bbp-topic-form form#new-post fieldset.bbp-form input#bbp_topic_title, #bbpress-forums div.bbp-topic-form form#new-post fieldset.bbp-form textarea#bbp_topic_content {
    width: 100%;
    background: whitesmoke;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  #bbpress-forums div.bbp-topic-form form#new-post fieldset.bbp-form .bbp-submit-wrapper {
    float: none;
    text-align: center;
  }
  
  #bbpress-forums div.bbp-topic-form form#new-post fieldset.bbp-form .bbp-submit-wrapper button#bbp_topic_submit {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: #AAD6EC;
    color: white;
    border: none;
    border-radius: 3px;
  }
  
  
  /*????????*/
  
  #bbpress-forums ul.bbp-replies {
    border: none;
  }
  
  #bbpress-forums div.bbp-reply-header {
    background-color: white;
    border-top: none;
  }
  
  #bbpress-forums div.bbp-reply-author {
    width: 20%;
  }
  
  #bbpress-forums .bbp-author-role, #bbpress-forums .bbp-reply-ip, #bbpress-forums .bbp-reply-permalink {
    display: none;
  }
  
  
  /*?????????*/
  #bbpress-forums span.bbp-admin-links {
      font-size: 14px;
  }
  
  #bbpress-forums span.bbp-admin-links a{
      font-size: 14px;
  }
  
  
  #bbpress-forums .bbp-meta {
    text-align: left;
    margin: 20px 10px 0 0
  }
  
  #bbpress-forums .bbp-body span.bbp-reply-post-date {
    color: #9f9f9f;
  }
  
  #bbpress-forums div.bbp-reply-author img.avatar {
    margin: 0 auto;
    border-radius: 50%;
  }
  
  #bbpress-forums div.bbp-reply-author a.bbp-author-name {
    color: slategray;
    text-decoration: none;
  }
  
  #bbpress-forums div.bbp-reply-content {
    position: relative;
    display: inline-block;
    padding: 30px;
    margin-left: 20px;
    min-width: 200px;
    max-width: 100%;
    border-radius: 3px;
    color: slategray;
    background: whitesmoke;
  }
  
  #bbpress-forums div.bbp-reply-content::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 30px;
    border: 10px solid transparent;
    border-right: 10px solid whitesmoke;
  }
  
  @media(max-width:480px){ 
   #bbpress-forums
  
  div.reply {
   ? ?height: auto;
        width: 100%;
        box-sizing: border-box
    }	
    #bbpress-forums .bbp-body div.bbp-reply-author {
      margin: 0;
      min-height: 85px;
          border-bottom: 0px;
    }
    #bbpress-forums .bbp-body div.bbp-reply-content {
      margin: 0;
    }
    #bbpress-forums .bbp-body div.bbp-reply-content p {
      padding: .5em 1em;
      margin: 0;
    }
    #bbpress-forums div.bbp-reply-content::before {
      top: -20px;
      left: 20px;
      border: 10px solid transparent;
      border-bottom: 10px solid whitesmoke;
    }
  }
  
  
  /*??????*/
  
  #bbpress-forums div.bbp-reply-form form#new-post fieldset.bbp-form legend {
    position: relative;
    padding: 10px 40px 10px 10px;
    margin: 0 0 1em;
    line-height: 20px;
    background: #EEF9FF;
    border-left: 40px solid #AAD6EC;
  }
  
  #bbpress-forums div.bbp-reply-form form#new-post fieldset.bbp-form legend::before {
   ?font-family: "Font Awesome 5 Free";
      content: "??";
      font-weight: 900;
    font-size:2.4em;
    color: white;
    position: absolute;
    left: -32px;
  }
  
  #bbpress-forums div.bbp-reply-form form#new-post fieldset.bbp-form {
    border: none;
    padding: 0;
    background: white;
  }
  
  #bbpress-forums div.bbp-reply-form form#new-post fieldset.bbp-form textarea#bbp_reply_content {
    width: 100%;
    background: whitesmoke;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  #bbpress-forums div.bbp-reply-form form#new-post fieldset.bbp-form .bbp-submit-wrapper {
    float: none;
    text-align: center;
  }
  
  #bbpress-forums div.bbp-reply-form form#new-post fieldset.bbp-form .bbp-submit-wrapper button#bbp_reply_submit {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: #AAD6EC;
    color: white;
    border: none;
    border-radius: 3px;
  }
  
  /*???????????*/
  @media only screen and (max-width: 480px) {
  
  span.bbp-admin-links {
          float: right;
          clear: both;
  }
  }
  
  /******** bbpress *********/